.menu_lateral{
  width: 250px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0.6rem;
  border-right: 1px solid #00000014;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.div_menu_lateral{
 display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-left: 1.4rem;
}

.nome_nav_menu_lateral{
  font-size: 18px;
}

.icone_menu{
  font-size: 16px;
  width: 16px;
}