.foto_perfil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.container_perfil{
    margin-top: 50px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
}

.container_icones_perfil{
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.container_cards_visao_geral{
    display: flex;
    gap: 1rem;
}

.div_foto_perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto_foto_perfil{
    font-weight: bold;
    font-size: 20px;
    margin: 0;
}

.texto_cargo{
    font-size: 16px;
    color: #71717A;
    margin: 0;
}

.div_icones_perfil{
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.icones_perfil{
    font-size: 1.2rem;
    color: #71717A;
}

.texto_dados{
    font-size: 14px;
    margin: 0;
}

.card_perfil{
    padding: 20px;
    flex: 1;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.container_cards{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    margin: 1rem;
    margin-top: 0;
}


.container_sessoes_perfil{
    width: 100%;
}

.btn_editar{
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    font-size: 14px;
    padding: 0.4rem;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.titulo_card{
    font-weight: bold;
}

.btn_excluir{
    width: 100%;
    border: none;
    background-color: red;
    color: white;
    font-size: 14px;
    padding: 0.4rem;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}

.container_editar{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    top: 0;
}

.card_editar{
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.categorias_perfil{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: #0000001a;
    padding: 0.4rem;
    border-radius: 0.6rem;
    align-items: center;
    cursor: pointer;
}

.texto_categorias{
    font-size: 14px;
    font-weight: 600;
    padding: 0.6rem;
    border-radius: 4px;
    cursor: pointer;
}

.categoria_selecionada {
    background-color: white;
}

.container_graficos {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  margin: 1rem;
}

.grafico {
  background-color: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.titulo_graficos {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}


@media (max-width: 915px) {
    .container_perfil {
        flex-direction: column;
    }

    .card_perfil {
        width: 100%;
    }

    .container_cards{
        width: 100%;
    }
}