

.card_projetos{
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 10px;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 400px;
    height: 224px;
}

.titulo_projeto{
    font-weight: 600;
    font-size: 24px;
}

.descricao_projeto{
    font-weight: 500;
    font-size: 14px;
    color: #71717A;
    margin-top: 0.3rem;
}

.sub_descricao_projeto{
    font-weight: 500;
    font-size: 14px;
}

.div_informacoes_projeto{
    display: flex;
    justify-content: space-between;
}

.btn_entrar_projetos{
    width: 100%;
    border: none;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 14px;
    padding: 0.6rem;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 0.4rem;
    text-align: center;
}


.div_icones{
    display: flex;
    align-items: center;
    gap: 0.3rem;

}

.fa-solid{
    color: #71717A;
}

.fas{
    color: #71717A;
}

.container_informacoes{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}