.mainProjetosDetalhes{
    margin-top: 58px;
    padding: 1rem;
}

.container_informacoes_projeto_detalhes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
}

.div_informacoes_projeto_detalhes{
        width: 100%;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    border: 1px solid #8080804a;
}

.btn_kanban{
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border: none;
    padding: 0.6rem;
    border-radius: 10px;
    cursor: pointer;
}

.div_kanban_projeto_detalhes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div_filtro{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.div_datas_projeto{
    display: flex;
    justify-content: space-between;
}

.div_equipe_projeto{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    padding: 0.4rem;
    border-radius: 8px;
    border: 1px solid #8080804a;
    background-color: #F8FAFC;
}

.imagemEquipe{
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.div_equipe_dados{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.div_equipe_tarefas{
    display: flex;
    gap: 0.8rem;
}

.titulo_metricas_detalhes_projetos{
        font-size: 14px;
    font-weight: 500;
}

.valor_metricas_detalhes_projetos{
    font-size: 24px;
    font-weight: 700;
}

.adicional_metricas_detalhes_projetos{
    font-size: 12px;
    font-weight: 400;
    color: #71717a;
}

.container_metricas_projeto_detalhes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.ultimo_grafico_metricas {
    grid-column: span 2;
}



.titulo_card_projeto_detalhes{
    font-size: 16px;
    font-weight: 500;
}

.sub_titulo_card_projeto_detalhes{
    font-size: 14px;
    font-weight: 400;
}

.container_atividade_recente_card{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.valor_final {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
  color: #1e40af; /* azul sóbrio para destaque */
}

.container_equipe_projeto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}