.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6%;
  padding: 10px;
  background: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  margin-right: 30px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

.div-menu {
  display: flex;
  margin-left: 20px;
}

.div-perfil {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.div-perfil:hover {
  background: #e9d4ae;
}
