.headerNavBarHome {
  width: 100%;
  padding: 0.3rem 2rem;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav_perfil{
    display: flex;
    align-items: center;
}

.logo {
  font-size: 32px;
  color: #1d4ed8;
  font-weight: 700;
}

.navbarHome {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.navbarHome a {
  position: relative;
  font-size: 18px;
  font-weight: 600;
}

.navbarHome a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

.navbarHome a:hover::before {
  width: 100%;
}

.div-menu {
  display: flex;
  margin-left: 24px;
  gap: 1rem;
}

.div-other {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-other a {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}

.search-input {
  width: 100%;
  max-width: 400px;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.search-input:focus {
  outline: none;
  border-color: #3b82f6;
}

.img_perfil_navbar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #3d3d3dab;
}