.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
}

.container_conteudos{
  display: flex;
}

.container_vertical_conteudos{
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: calc(100vh - 50.59px);
    overflow: auto;
} 

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}



a{
  text-decoration: none;
  color: #333;
}

h1 {
  color: #333;
}

.first-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.first-container h1 {
  font-size: 48px;
  font-weight: 700;
}

.first-container button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.second-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 24px; /* espaço entre os itens */
}

.list li {
  position: relative;
}

.list li:hover {
  background-color: #f0f0f0ee;
  transition: background-color 0.3s ease;
}

.list li a{
    text-decoration: none;
    color: #333;
    display: inline-block;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px 20px;
}

.third-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}

.container_projetos_atualizacoes{
    display: flex;
    align-items: start;
    margin-left: 1rem;
    margin-right: 1rem;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    padding-top: 66px;
}

.container_metricas_dashboard{
  display: flex;
  width: 100%;
  gap: 1rem;
}

.card_atualizacoes{
  width: 100%;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
}


.texto_projetos{
  font-size: 16px;
  font-weight: 600;
}

.texto_atualizacao{
  font-size: 16px;
  font-weight: 400;
  color: grey;
}

.texto_progresso{
  font-size: 16px;
  font-weight: 400;
  color: black;
}

.container_dashboard{
  margin: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.div_projetos{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  margin-top: 0.8rem;
  flex: 1;
  min-width: 300px;
}

.div_card_dois_projetos_recentes{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.div_atividades_recentes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  margin-top: 0.8rem;
}

.container_projetos{
  display: flex;
  gap: 0.5rem;
  align-items: center;
  width: 100%;
}

.icone_projetos{
  background-color: rgba(128, 128, 128, 0.4);
  padding: 1rem;
  border-radius: 50%;
}

.img_atividade_recente{
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid #1d4fd8ab;
}

.texto_projetos{
  font-size: 16px;
  font-weight: 600;
}

.descricao_projetos{
  font-weight: 400;
  font-size: 16px;
  color: grey;
}

.fa-arrow-right{
  cursor: pointer;
}


.titulo_metricas_dashboard{
  font-size: 16px;
  font-weight: 500;
}

.numero_metricas_dashboard{
  font-size: 24px;
  font-weight: 700;
}

.adicional_metricas_dashboard{
  font-size: 14px;
  font-weight: 400;
  color: #71717a;
}

.card_projetos_recentes{
  width: 100%;
  background-color: white;
  padding: 0.4rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  border: 1px solid #8080804f;
}

.btn_entrar_projeto{
  width: 100%;
  border: none;
  background-color: black;
  color: white;
  font-weight: 500;
  font-size: 14px;
  padding: 0.6rem;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 0.4rem;
  text-align: center;
}

input[type="range"].custom-range {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: transparent;
  border-radius: 10px;
  cursor: pointer;
}

input[type="range"].custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0; 
  height: 0;
  background: transparent;
}

input[type="range"].custom-range::-moz-range-thumb {
  width: 0;
  height: 0;
  background: transparent;
  border: none;
}

.div_dois_projetos_recentes{
  display: flex;
  justify-content: space-between;
}

