

body{
    background-color: #1d4ed81a;
}

.kanban{
    display: flex;
    gap: 14px;
    width: 100%;
    height: 70vh;
    overflow-x: auto;
}

.kanban::-webkit-scrollbar{
 
    
}

.kanban_column{
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: 100%;
    overflow-y: auto;
    background-color: #d7d7d7;
    border-radius: 12px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 12px;
    overflow: hidden;
    position: relative;
    min-width: 252px;
}

.kanban_column::after{
    position: absolute;
    content: "";
    height: 5px;
    width: 100%;
    top: 0;
    left: 0;
}

.kanban_column[data-id="1"]::after{
    background-color: #E53935;
}

.kanban_column[data-id="2"]::after{
    background-color: #FB8C00;
}

.kanban_column[data-id="3"]::after{
    background-color: #FDD835;
}

.kanban_column[data-id="4"]::after{
    background-color: #43A047;
}

.kanban_column[data-id="5"]::after{
    background-color: #2E7D32;
}

.kanban_title{
    display: flex;
    justify-content: space-between;
}

.kanban_title h2{
    font-size: 18px;
    color: black;
    font-weight: 600;
}

.kanban_cards{
    display: flex;
    flex-direction: column;
    gap: 8px;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.kanban_card{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: white;
    border-radius: 14px;
    box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0.6rem;
}

.badge{
    color: white;
    width: fit-content;
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 12px;
}

.badge.high{
    background-color: brown;
}

.badge.medium{
    background-color: rgb(190, 117, 21);
}

.badge.low{
    background-color: rgb(32, 143, 194);
}

.card_infos{
    display: flex;
    flex-direction: column;
    align-items: start;
}

.card_kanban{
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem;
    box-sizing: border-box;
}

.card_icons{
    display: flex;
    gap: 18px;
}

.dragging{
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;
}

.cards_hover{
    background-color: rgba(218, 218, 218, 0.432);
    border-radius: 8px;
}





.add_card_button {
    margin: 1rem;
    padding: 0.6rem 1.2rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
}

.modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
        background-color: white;
    padding: 1rem;
    border-radius: 10px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 80%;
    width: 70%;
    overflow: auto;
    transition: all 0.3s ease-out;
    transform: translateY(10px);
    transition: 0.3s ease-in;
    position: relative;
}

.modal input,
.modal select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.3rem;
}

.modal_actions {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}
